@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

img{
    width: 10%;
}
body{
    background-color: #f5f5f5;
}
.header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background-color: #98CD98;
}

.header h1 {
    font-family: 'Fredoka One', cursive;
    margin-left: 2%;
    color: #98CD98;
    text-decoration: underline;

}

.bulles {
    width:100%;
}

.cagnote-container{
        margin: 1% 5% 1% 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 25px;
      
}

.cagnote-card {
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    border: solid #F8FDF8 0.1px;
    border-radius: 30px;
    background-color: #F8FDF8;
    padding: 10px;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
}

.cagnote-card:hover{

    transform: translatey(-10px);
   

}

.cagnote-card__heading{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    border: solid #98CD98 0.1px;
    border-radius: 10px;
    background-color: #98CD98;
    padding: 5px;
}

.cagnote-card__description{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    border: solid #98CD98 0.1px;
    border-radius: 10px;
    background-color: #98CD98;
    padding: 5px;
}

.supp{
    border: none;
    background-color: #98CD98;
    border-radius: 100px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-weight: bold;
    color: #F8FDF8;
}

.btn-edit{
    margin-left: 45%;
}
.btn-edit img{
    width: 20%;
}
.cagnote-card a{
   text-decoration: none;
   color: #F8FDF8;
}
.floating-btn a img{
    margin-left: 45%;
    transition:  0.2s;
}

.floating-btn a img:hover{ 
  transform: translatey(-5px);
  cursor: pointer;
  
  }
.formulaire{
    align-self: center;
    margin: 5% 10% 0 10%;
    width: 80%;
    height: 100%;
    border: solid #F8FDF8 0.1px;
    border-radius: 30px;
    background-color: #F8FDF8;
    padding: 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.errors{
    color:#bb0b0b;
    font-weight: bold;
    text-decoration: underline;
}

.form-label {
    padding-right: 10px;
    text-decoration: underline;
    font-family: 'Dongle', sans-serif;
    color:#98CD98;
    font-size: 40px;
}
.form-control {
    margin-bottom: 30px;
    margin-top: 10px;
    background: #f8f8f8;
    border: none;
    border-radius: 5px;
    font-family: 'Dongle', sans-serif;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    width: 100%;
    }
select{
    background: #f8f8f8;
    border: none;
    border-radius: 5px;
    font-family: 'Dongle', sans-serif;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    width: 100%;
    margin:10px;
}
.formulaire .btn{
   margin-left: 40%;
   margin-top: 10px;
    border: none;
    background-color: #98CD98;
    border-radius: 40px;
    cursor: pointer;
    color: #F8FDF8;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    }

.cagnote{
    align-self: center;
    margin: 5% 10% 0 10%;
    width: 80%;
    height: 100%;
    border: solid #F8FDF8 0.1px;
    border-radius: 30px;
    background-color: #F8FDF8;
    padding: 30px;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.cagnote .modif{
    width: 10%;
    position: absolute;
    right: 100px;
    
}


.cagnote__description {
    font-size:50px;
    color: #98CD98;
    text-decoration: underline;
}

.money__container .supp {
    position: absolute;
    left:100px;
}

.cagnote h2{
    font-family: 'Fredoka One', cursive;
    margin-left: 2%;
    color: #98CD98;
    text-decoration: underline;
}

.footer__content{
    background-color: #98CD98;
    color: #F8FDF8;
    font-family: 'Dongle', sans-serif;
    padding-left:20px; 
    margin-top:0;
    margin-bottom:-60px;
    font-size:25px;
}
.footer img{
    width: 100%;
    margin-top:0;
    margin-bottom:-40px;
}

@media screen and (max-width: 800px)
{
    .cagnote-container{
        margin: 1% 5% 1% 5%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 25px;
      
}

.formulaire{
    width: 60%;
}


.formulaire .btn{
    margin-left: 25%;
}

.cagnote{
    
    display: grid;
    flex-direction: 1fr;
    row-gap: 50px;
    width: 62%;
}
.money__container .supp {
    position: relative;
}

.cagnote .modif{
    width: 20%;
    position: absolute;
    right: 100px;
    
}

.floating-btn a img{
    margin-left: 30%;
    width:40%;
}

.header__container img{
    width: 20%;
}

.bulles {
    width:800px;
}
}