{% extends "base.html.twig" %}

{% import "form.html.twig" as form %}

{% block title %}
    {{parent()}} | {{ title }}
{% endblock %}
{% block heading %}
    {{ heading | upper }}
{% endblock %}

{% block main %}
    <div class="formulaire">
    
                    {% if errors|length > 0 %}
                        <div class="error">
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                <form action="?page=moneycome/create" method="post">
                    {{ form.input('name_Moneycome', "Nom de l'ajout d'argent", "Salaire", 'text', data.name_Moneycome) }}
                    {{ form.input('money_Moneycome', "Votre somme d'argent", "20",  'int', data.money_Moneycome) }}
                    <div class="select">
                        <select class="form-select" name="id_Cagnote" id="id_Cagnote">
                            <option value="">Choisir la cagnote</option>
                            {% for cagnote in cagnotes %}
                                <option {{ data.id_Cagnote is same as (cagnote.id_Cagnote) ? 'selected' : '' }} value="{{ cagnote.id_Cagnote }}">{{ cagnote.name_Cagnote }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-select" name="id_Type" id="id_Type">
                            <option value="">Choisir le type</option>
                            {% for type in types %}
                                <option {{ data.id_Type is same as (type.id_Type) ? 'selected' : '' }} value="{{ type.id_Type }}">{{ type.name_Type }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-select" name="id_Categorie" id="id_Categorie">
                            <option value="">Choisir la catégorie</option>
                            {% for categorie in categories %}
                                <option {{ data.id_Categorie is same as (categorie.id_Categorie) ? 'selected' : '' }} value="{{ categorie.id_Categorie }}">{{ categorie.name_Categorie }}</option>
                            {% endfor %}
                        </select>
                     </div>
                   
                   
                    <input class="btn btn-secondary" type="submit" value="Enregister">
                </form>
            </div>
        </div>
{% endblock %}