{% extends "base.html.twig" %}

{% import "form.html.twig" as form %}

{% block title %}
    {{parent()}} | {{ title }}
{% endblock %}
{% block heading %}
    {{ heading | upper }}
{% endblock %}

{% block main %}
            <div class="formulaire">
                    {% if errors|length > 0 %}
                        <div class="errors">
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                <form action="?page=cagnote/create" method="post">
                    {{ form.input('name_Cagnote', 'Nom de la Cagnote', "Cadeau commun", 'text', data.name_Cagnote) }}
                    {{ form.input('introduction_Cagnote', 'Description de la Cagnote', "Cagnote pour le cadeau commun de Jon",  'text', data.subtitle) }}
                   
                    <input class="btn " type="submit" value="Enregister">
                 </div>
                </form>
            </div>
{% endblock %}