{% extends "base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}
    {{parent()}} | {{ title }}
{% endblock %}
{% block heading %}
    {{ heading | upper }}
{% endblock %}
{% block main %}
<section class="cagnote-container">
    {% for cagnote in cagnotes %}
       
            <div class="cagnote-card ">
                <form id="form-{{ cagnote.id_Cagnote }}" action="?page=cagnote/delete" method="post">
                    <input type="hidden" name="id" value="{{ cagnote.id_Cagnote}}">
                    <button class="supp">X</button>
                </form> 
                <a href="?page=cagnote/show&amp;id={{ cagnote.id_Cagnote }}">
                <h2 class="cagnote-card__heading">{{ cagnote.name_Cagnote | upper }}</h2>
                <div class="cagnote-card__body">
                    <p class="cagnote-card__description">{{ cagnote.introduction_Cagnote }}</p>
                 </a>
                </div>
                <a class="btn-edit" href="?page=cagnote/update&amp;id={{ cagnote.id_Cagnote }}">
                    <img src="../../assets/img/modif.png">
                </a>
                </form>
                
                
            </div>
        </div>
    {% endfor %}
    </section>
    {# bouton floatant ajout de livre #}
    <div class="floating-btn">
        <a href="?page=cagnote/create">
            <img src="../../assets/img/ajout.svg">
        </a>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="../../javascript/supp.js"></script>
{% endblock %}