{% extends "base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}
{% block title %}
    {{parent()}} | {{ title }}
{% endblock %}
{% block heading %}
    {{ heading | upper }}
{% endblock %}
{% block main %}
            <div class="cagnote">
                    <p class="cagnote__description">{{ cagnote.getIntroduction_Cagnote() }}</p>
                    {% for mon in money %}
                    <div class="money__supp">
                        <div class="money">
                        <form id="form-{{ mon.id_Moneycome }}" action="?page=moneycome/delete" method="post">
                            <input type="hidden" name="id_Moneycome" value="{{ mon.id_Moneycome}}">
                            <button class="supp">X</button>
                        </form>
                    </div>
                    <div class="money">
                        <p>{{mon.name_Moneycome}} {{ mon.money_Moneycome }} <a class="btn-edit" href="?page=moneycome/update&amp;id={{ mon.id_Moneycome }}"><img class="modif" src="../../assets/img/modif.png"></a></p>
                    </div>
                    {% endfor %}
                </div>
                <h2>Total: {{total.totalmoney}}</h2>
    </div></div>
    {# bouton floatant ajout de livre #}
    <div class="floating-btn">
        <a href="?page=moneycome/create">
            <img src="../../assets/img/ajout.svg">
        </a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="../../javascript/supp.js"></script>
{% endblock %}