{% extends "base.html.twig" %}

{% import "form.html.twig" as form %}

{% block title %}
    {{parent()}} | {{ title }}
{% endblock %}
{% block heading %}
    {{ heading | upper }}
{% endblock %}

{% block main %}
        <div class="formulaire">
                    {% if errors|length > 0 %}
                        <div class="error">
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                <form action="?page=cagnote/update&id={{data.id_Cagnote}}" method="post">
                    {{ form.input('name_Cagnote', 'Titre', "Cadeau commun", 'text', data.name_Cagnote) }}
                    {{ form.input('introduction_Cagnote', 'Sous titre', "Description de la Cagnote",  'text', data.introduction_Cagnote) }}
                    <input class="btn btn-secondary" type="submit" value="Enregister">
                </form>
            </div>
        </div>
{% endblock %}