<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}BUD{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="../assets/style/style.css">
        <link rel="stylesheet" href="../assets/style/normalize.css">
        <link rel="stylesheet" href="../assets/style/wickedcss.min.css">
    {% endblock %}
</head>
<body>
    {% block content %}
        <header class="header">
            <div class="header__container">
                <a href="index.php"><img class="fadeIn" src="../assets/img/logo(clair).png" alt="logo"></a>
            </div>
            <img class="bulles bounceIn" src="../assets/img/bulles.svg">
            <h1 class="fadeIn">
                {% block heading %}{% endblock %}
            </h1>
            
        </header>
        <main class="fadeIn">
            {% block main %}{% endblock %}
        </main>
        <footer class="footer">
            <img src="../assets/img/footer.svg">
            <div class="footer__content">
            <p>&copy; {{"now" | date('Y')}} BUD</p>
        </div>
        </footer>
    {% endblock %}
    {% block javascripts %}
    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    {% endblock %}
</body>

</html>