{% macro input(name, label, placeholder, type, value = null, options = []) %}
    <div class="mb-3">
        <label class="form-label mb-3" for="{{ name }}">{{ label }}</label>
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" class="form-control {{ options.class }}" value="{{ value | e }}" placeholder="{{ placeholder }}">
    </div>
{% endmacro %}
{% macro textarea(name, label, placeholder, value = null, options) %}
    <div class="mb-3">
        <label class="form-label" for="{{ name }}">{{ label }}</label>
        <textarea class="form-control" name="{{ name }}" id="{{ name }}" cols="30" rows="10" placeholder="{{ placeholder }}">{{ value | e}}</textarea>
    </div>
{% endmacro %}